* {
  margin: 0px;
  padding: 0px;
  font-family: 'source sans pro' , sans-serif;
}

.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #3a88fe;
}
#About {
  float: right;
  height: 14px 16px;
  position: absolute;
  border-radius: 5px;
}
.header {
  
}
.badge{
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
  border-radius: 6px;
}
#marg {
  margin-top: 10px;
}
#ul {
  background: #333;
}
#filler {
  width: 750px;
}